#content a{
	color: #000000;
}

#content p{
	line-height: 1.4em;
}

#help p a, #help ul a{
	color: #0000FF;
}

#content h2{
	font-size: 1.6em;
	margin: 1em 0em;
}

#content h2 a{	
	text-decoration: none;
	cursor: default;
}

#sommaire > ul > li{
	list-style-type: none;
}

#sommaire > ul > li > ul li{
	margin: 0.5em 0em;
}

#sommaire > ul > li > ul a{
	color: #0000FF;
}

#content h3{
	font-size: 1.2em;
	margin: 0.7em 0em;
}

#help h3{
	margin-left: 1.5em;
}

#help > p, #help > ul{
	margin-left: 2.5em;
}

#content h4{
	font-size: 1em;
	margin: 0.5em 0em;
}

#help h4{
	margin-left: 3em;
}


