h2{
	margin-top: 1em;
	font-weight: bold;
	font-size: 1em;
}

h3{
	margin-bottom: 1em;
}

.anchorlist, .anchorlist li{
	margin: 0em .2em;
	padding: 0em;
	display: inline;
}

#update{
	background-color: orange;
	border: .3em red solid;
	margin: .8em 0em;
	padding: .5em;
	text-align: center;
	font-weight: bold;
}

.legend{
	border: .1em black solid;
	margin: .8em 0em;
	padding: .5em;
	text-align: center;
}

.legend li{
	display: -moz-inline-stack;
	display: inline-block;
}

span.legend{
	display: -moz-inline-stack;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0em;
	padding: 0em;
}

.table-services{
	width: 100%;
	margin-top: 0em;
}

/*.head-name{
	width: 10%;
}*/

.head-state{
	width: 30%;
}

.head-forced{
	width: 10%;
}

.head-action{
	width: 10%;
}

.unassign, .listing span.unassign{
	background-color: #DCDCDC;
	color: grey;
}

.hide, .listing span.hide{
	background-color: #48D1CC;
	color: #000000;
}

.display, .nagios, .listing span.display, .listing span.nagios{
	background-color: #00BFFF;
	color: #000000;
}

.forced, .listing span.forced{
	background-color: #FFD700;
}

.nomorein, .listing span.nomorein{
	background-color: orange;
}

/* * * * * * * * * *
	Formulaire
* * * * * * * * * * */

.label-form{
	width: 17em;
}

.form li{
	list-style: none;
	padding-left: .5em;
}

.header label, .header span{
	background-color: #87CEEB;
	padding: .3em 0em .3em .3em;
	margin: 0em .3em;
	font-weight: bold;
}

.listing span{
	display: -moz-inline-stack;
	display: inline-block;
	background-color: #AFEEEE;
	padding: 0em 0em 0em .3em;
	margin: 0em .3em;
}

.addbox{
	display: -moz-inline-stack;
	display: inline-block;
	background-color: #FFFFFF;
	width: 43%;
}

.body, .nagios, .unassign, .forced{
	vertical-align: top;
}

#name-col, #state-col{
	width: 35%;
}

#forced-col{
	width: 15%;
	padding: 0em;
	padding-left: .3em;
	vertical-align: top;
}

#action-col{
	width: 15%;
	vertical-align: top;
}

.actionbox a{
	margin: 0em .5em;
}

#forcedfield{
	display: -moz-inline-stack;
	display: inline-block;
	background-color: #FFFFFF;
	margin-left: 0.6em;
	vertical-align:top;
	width:15%;
}

#secondline{
	margin: .3em 0em;
}

#comment, #statelegend{
	display: inline;
	margin-left: .3em;
}

#statelegend lh, #statelegend li{
	display: inline;
	margin-right: .3em;
}

.remarque span{
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

#list{
	padding: 1em;
	width: 100%-2.4em;
}

.listing{
	margin: 0em;
}

.listing li{
	list-style: none;
	margin: .5em .1em;
}

.listing img{
	height: 0.9em;
}

/*.listParent{*/
.parentsList{
	margin-left: 2em;
}

.listParent li{
	list-style-type: square;
	margin-left: 0em;
}


/* * * * * *
 * PAGE NAGIOS
 * * * * * */

.longbox{
	display: inline-block;
	width: 50%;
}

.actionbox{
	display: inline-block;
	width: 10%;
}

/* * * * * * *
 * JQUERY ISOU
* * * * * */
.td-service-name{
	cursor: pointer;
}

#add-menu{
	margin: 1.2em 0em;
}

#button-add-service{
	display: block;
	width: 27%;
	background-color: #66CDAA;
	color: #101010;
	padding: .5em 0em;
	text-align: center;
	border: 0.2em ridge #6B8E23;
}

#button-add-service:hover{
	border: 0.2em groove #6B8E23;
}

#form-fg-layout, #form-bg-layout{
	left: 0;
	top: 0;
}

#form-fg-layout{
	z-index: 2;
	position: absolute;
	/* header : 3+2x0.5em / h1 : 1em / menubar : 3+2x0.7em == 9.4em */
	margin: 13.4em 5% 0em 5%;
	padding: .5em 1em;
	width: 0%;
	left: 50%;
	opacity: 0;
	background-color: #FFFFFF;
}

#form-bg-layout{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
	background-color: #000000;
	opacity: 0;
}

#form-add-service, #form-edit-service{
	display: block;
	padding: 1em;
	margin: 0em;
}

#form-add-service > fieldset, #form-edit-service > fieldset{
	margin: 0em;
}

