#
# See gitignore(5) man page for more details
#
*~
*.swp
/cscope.*
/.patches/
/.idea/
/nbproject/
CVS
.DS_Store
/.settings/
/.project
/.buildpath
/.cache

# fichiers ISOU
sources/private/classes/smarty/compile/*
sources/public/config.php
sources/private/database/*.sqlite3
sources/public/isou.json
sources/public/status.dat
