#
# See gitignore(5) man page for more details
#
*~
*.swp
/cscope.*
/.patches/
/.idea/
/nbproject/
CVS
.DS_Store
/.settings/
/.project
/.buildpath
/.cache
/composer.phar

# fichiers ISOU
backup/*
cache/
config.php
cron.pid
database/*.sqlite3
log/*
upgrade/LOCK_UPDATE
status.dat
www/isou.json
vendor/
units/units.sqlite3
