.active .menu-entries{
	color: #6A006D;
}

#menu{
	background-color: #DEEEFF;
	font-size: .8em;
	font-weight: bold;
	height: 3em;
	line-height: 3em;
	margin: .7em 0;
	padding: 0 2em;
}

.menu-title{
	display: inline;
}

.menu-ul{
	display: inline;
	margin: 0;
}

.menu-ul-items{
	display: inline;
	margin: 0 .5em;
	text-align: center;
}

#administration-menu{
	background-color: #FFA07A;
	font-size: .8em;
	font-weight: bold;
	margin: .7em 0;
	padding: 0 2em;
	text-align: right;
}

#administration-menu .menu-ul-items{
	display: inline-block;
	line-height: 2em;
}

#administration-menu .menu-ul-items .menu-title{
	display: block;
	height: 1em;
	line-height: 1em;
}

#administration-menu .menu-ul-items .menu-ul{
	border-left: black .1em dotted;
	border-right: black .1em dotted;
	border-top: black .1em dotted;
}

.submenu-div{
	background-color: lightblue;
	font-size: .7em;
	font-weight: bold;
	margin: .7em 0em;
	padding: .5em 1em;
	text-align: right;
}

.submenu-ul{
	display: inline;
}

