body {
    margin: 0;
}

#isou-main-content {
    min-height: 84vh;
}

.isou-top-aside {
    margin: 0 1em 0 0;
}

.isou-top-aside-p {
    margin: .2em 0 0 0;
}

#isou-top-aside-authentification-dropdown .dropdown-toggle {
    margin-top: .5em;
}

.isou-top-aside-p {
    margin: 0;
}

.isou-top-aside-p.small {
    margin: 0;
}

.small {
    font-size: .75em;
}

.page-header {
    border: none;
    margin: .5em 0 0 0;
}

.page-header .container-fluid {
    background-image: url("//static.univ-rennes2.fr/bootstrap/3.3/rennes2/logo-rennes2-128x128-noir.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 128px;
}

html[data-bs-theme="auto"] .page-header .container-fluid {
    background-image: url("//static.univ-rennes2.fr/bootstrap/3.3/rennes2/logo-rennes2-128x128-noir.png");
}

html[data-bs-theme="dark"] .page-header .container-fluid {
    background-image: url("//static.univ-rennes2.fr/bootstrap/3.3/rennes2/logo-rennes2-128x128-blanc.png");
}

.alert .btn {
    text-decoration: none;
}

.isou-list-event-scheduled {
    background-image: url('../images/calendar.gif');
}

.isou-list-event-unscheduled {
    background-image: url('../images/caution.gif');
}

#administration-menu li.active a,
.navbar-inverse .navbar-nav > .active > a {
    background-color: white;
    color: black;
}

#isou-header {
    background: none;
    padding-left: 15px;
}

body > .container {
    padding-bottom: 3em;
}

#isou-footer-p {
    line-height: 3em;
    margin: 0;
}

#isou-plugin-isou-services-edit-form label[for='url'],
#isou-plugin-isou-services-edit-form input[name='url'] {
    display: none;
}
