.required {
    color: red;
}

#form_contact {
    padding: 1em 3em;
}

#form_contact p {
    margin: 0.5em 0em;
}

#form_contact p label {
    display: block;
    width: 17em;
    float: left;
}

#form_contact .textarealabel {
    float: none;
}

#form_contact p input, #form_contact p select {
    clear: both;
}

#form_contact fieldset {
    display: inline;
    border: none;
    margin: 0em;
    padding: 0em;
}

#form_contact fieldset input {
    border: none;
}

#form_contact fieldset span {
    width: 17em;
}

#form_contact legend {
    line-height: 0em;
    visibility: hidden;
}
