.form li {
    list-style: none;
    padding-left: .5em;
}

/* * * * * * * * * *
    Formulaire
* * * * * * * * * * */
form .pform1 {
    text-align: center;
}

form p {
    margin: 0.5em 0;
}

.pform1 {
    padding: .5em 0em .5em .3em;
}

.pform2 {
    padding: 0em 0em .5em 1em;
}

.childService, .parentService {
    width: 20em;
}

.hidden {
    border: none;
    display: none;
    line-height: 0em;
    margin-left: 0em;
}

#description {
    font-weight: normal;
}

#selected {
    background-color: pink;
}

.even {
    background-color: mistyrose;
    margin-top: .2em;
}

.uneven {
    background-color: papayawhip;
    margin-top: .2em;
}

.legend {
    border: .1em black solid;
    margin: .8em 0em;
    padding: .5em;
    text-align: center;
}

.legend li {
    display: inline;
}

span.legend {
    display: -moz-inline-stack;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0em;
    padding: 0em;
}

dl {
    float: left;
    width: 40%;
    padding-left: 10%;
    margin: .5em 0em;
}

dd {
    padding-left: 10%;
}

.service {
    clear: both;
}

.no-dependencies {
    float: left;
    margin: .5em 0em;
    padding-left: 10%;
}
