#content {
    padding-right: 1em;
}

#table {
    text-align: center;
    font-size: 0.75em;
    width: 100%;
}

#table li {
    margin: 0em;
    list-style-type: none;
}

th {
    font-weight: bold;
    border:1px solid #a2c2e1;
    padding: 0em .5em;
    text-align: left;
    background-color: #d6e1ec;
}

td[headers="column-2"] {
    text-align: center;
}

/* seulement les entêtes en haut du tableau */
.header th {
    text-align: center;
}

.tr-category {
    background-color:#d6e1Fe;
    text-align: left;
}

.tr-status-warning {
    background-color: #FFA500;
}

.tr-status-critical {
    background-color: #CD5C5C;
}

.tr-status-unknown {
    background-color: #87CEEB;
}

.tr-status-closed {
    background-color: #FFFFE0;
}

/* Service */
#lth1 {
    width: 24%;
}

/* État */
#lth2 {
    width: 1%;
}

/* Dernière perturbation ou interruption depuis 48h */
#lth4 {
    width: 25%;
}

/* début */
#lth41 {
    width: 8%;
}

/* fin */
#lth42 {
    width: 8%;
}

/* raison */
#lth43 {
    width: 9%;
}

/* Prochaine interruption exceptionnelle programmée */
#lth5 {
    width: 25%;
}

/* Interruptions régulières */
#lth6 {
    width: 25%;
}

/* css utilisée par le jquery uniquement si il y a plus de 50 services à lister */
.tr-ok-category {
    background-image: url('../images/flag_green.gif');
}

.tr-warning-category {
    background-image: url('../images/flag_orange.gif');
}

.tr-critical-category {
    background-image: url('../images/flag_red.gif');
}

.tr-ok-category, .tr-warning-category, .tr-critical-category {
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 2em;
}
